{% extends "base.html.twig" %}
{% set title='A propos'  %}
{% set titre='A propos'  %}
{% set soustitre='A propos de gaujal.net'  %}



 {% block body %}
	 <BR> <BR> <BR>
	 <h1>Hello !</h1>


	 <p>Mauris et eros ut erat vestibulum tincidunt. Cras et augue in neque egestas consectetuer. Vestibulum ante ipsum
	    primis in faucibus orci luctus et ultrices posuere cubilia Curae; Etiam pede. Sed a orci vitae purus vestibulum
	    gravida. In sodales, ipsum nec sodales luctus.</p>
 {% endblock %}

