{% extends 'base.html.twig' %}
{% set title="Page d'Accueil" %}
{% set titre="Accueil" %}
{% set soustitre='-------' %}

{% block body %}
    <BR><BR>

    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h1>Bienvenue dans <span class="zf-green">Symfony</span></h1>

                <p>
                    Donec non mi ut est gravida ultricies. Aliquam molestie vehicula libero. Sed malesuada. Morbi
                    laoreet. Curabitur lacinia. Nulla rutrum.
                    Phasellus nonummy mauris vel neque. lacinia ullamcorper. Donec augue nunc, tincidunt semper, pretium
                    sit amet, venenatis ut, sem. Nam id lorem. Donec at lorem. Nullam cursus.
                </p>

                <p>
                    <a class="btn btn-success btn-lg" href="http://localhost" target="_blank">
                        Nulla mollis tempor dolor
                    </a>
                </p>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><span class="glyphicon glyphicon-blackboard"
                                                          aria-hidden="true"></span>&nbsp;Administration</h3>
                        </div>
                        <div class="panel-body">
                            <p>glyphicon glyphicon-blackboard Maecenas accumsan. In sollicitudin, nisl vel elementum
                                pulvinar, tortor metus eleifend pede, id tempor lacus leo vitae ligula. Vivamus ipsum.
                                Morbi non urna vel ipsum sagittis sagittis. Praesent porta. Suspendisse pellentesque
                                lobortis velit. Nulla quis arcu in lacus fringilla rhoncus. Donec cursus. Sed eros
                                turpis, imperdiet semper, pharetra ut, condimentum ut, magna. Aenean dolor risus,
                                ullamcorper eget, porttitor id, dapibus at, wisi. Maecenas vulputate nibh non ligula.
                                Ut faucibus, mi sed commodo adipiscing, ipsum ante consectetuer dolor, sit amet ultrices
                                augue pede et turpis. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. In hac
                                habitasse platea dictumst. Vestibulum nisl purus, mattis vitae, pretium id, varius nec,
                                sapien. Ut non libero.</p>

                            <p><a class="btn btn-success pull-right" href="http://framework.zend.com/zf2"
                                  target="_blank">Vestibulum leo erat</a></p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Découvrez les modules</h3>
                        </div>
                        <div class="panel-body">
                            <p>Integer lectus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
                                cubilia Curae; Proin sodales sem quis enim. Sed est arcu, facilisis sit amet, facilisis
                                at, viverra vel, est. Nunc accumsan, magna et luctus mattis, libero risus tristique est,
                                ut tempor dolor dui vel libero. Pellentesque massa odio, cursus eget, tincidunt at,
                                lobortis et, elit. Proin vehicula pharetra neque. Nulla tristique orci sit amet sem.
                                Aenean ut risus semper ante gravida ornare. Cum sociis natoque penatibus et magnis dis
                                parturient montes, nascetur ridiculus mus.
                                Curabitur sem. Suspendisse potenti. Duis gravida, massa vel porta volutpat, justo diam
                                pulvinar leo, non aliquam massa magna eu magna. Fusce urna. Integer luctus turpis ut
                                urna. Nulla tristique. Nulla facilisis, tellus et ultrices aliquam, augue magna tempus
                                lacus, ut cursus urna sem at tellus.</p>
                        </div>
                        <div class="panel-body">
                            <p><a class="btn btn-success pull-right" href="http://modules.zendframework.com/"
                                  target="_blank">Donec posuere sapien</a></p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Aide &amp; support</h3>
                        </div>
                        <div class="panel-body">
                            <p>In libero. Phasellus pulvinar. Mauris fringilla. Proin mi enim, tempus a, placerat vel,
                                sodales vel, lacus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
                                posuere cubilia Curae;
                                Donec posuere quam ut pede. Donec interdum pretium velit. Phasellus malesuada mi sit
                                amet mi. Curabitur sed nunc. Nullam auctor lacus vel purus. Sed varius. Donec ut ipsum.
                                Curabitur tortor. Integer ultrices odio vitae dolor. Cras velit leo, mattis in,
                                vestibulum sit amet, dignissim non, risus. Quisque scelerisque est semper felis. Morbi
                                eget tellus non risus vestibulum imperdiet. Cras dui. Vestibulum vitae quam vel diam
                                hendrerit dignissim. Aliquam volutpat.
                            </p>

                            <p><a class="btn btn-success pull-right"
                                  href="http://webchat.freenode.net?channels=zftalk" target="_blank">Donec interdum
                                    pretium velit</a>
                            </p>
                        </div>
                    </div>


                </div>
{% endblock %}