{% extends '::base.html.twig' %}
{% set title='Pays' %}
{% set titre='Pays' %}
{% set soustitre='Edition Pays' %}

{% block body -%}

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('pays') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
